{{extend 'my_layout.html'}}
<div class="container">
	<div class="row">
		<h1 style="text-align:center">About us</h1>
		<p class="lead">Our aim is to make exercise exciting and eventually empower you to let your body shine. Our facilities offer the functionality of a fully equipped gym and the exciting energy of a contemporary club. It’s a playground for the senses, carved out of imagination and build to get you energized before you step onto the Treadmill. We offer a vibrant atmosphere where you can meet like minded fellows.

		Our fitness concept is holistic. The Accra Gym combines four essential characteristics which you need to balance in order to achieve and maintain a healthy lifestyle. Our dedicated instructors, Doctors and Health experts will guide you towards your ultimate fitness goals with professional support and advice. We offer various classes that will blow your mind. Have fun, feel great and let your body shine!</p>
	</div>
</div>




<div class="container">
	<div class="row">
		<h1 style="text-align:center">INSTRUCTORS</h1>
		<div class="col-md-6">
	 	<div class="thumbnail">
	 	<img src="{{=URL('static', 'images/rdj.jpg')}}">
	 	<div class="caption">
 		<h3 style="text-align:center">Microsoft</h3>
 		</div>
	 	</div>
	</div>
	<div class="col-md-6">
	 	<div class="thumbnail">
	 	<img src="{{=URL('static', 'images/rdj.jpg')}}">
	 	<div class="caption">
 		<h3 style="text-align:center">Microsoft</h3>
 		</div>
	 	</div>
	</div>
</div>
