{{extend 'my_layout.html'}}
<div class="container">
	<div class="row">
		<div class="list-group panel-div">
		  	<div class="list-group-item active text-center">
		    MEMBERS
		 	</div>
		 	<div>
		 	{{if members:}}
		 	{{for member in members:}}
		  	<p class="list-group-item">{{=member.firstname}}&nbsp;{{=member.lastname}}<br>
		  	<a href="{{=URL('updateMember', args=member.id)}}">Update Member</a>
		  	&nbsp; <a href="{{=URL('deleteMember', args=member.id)}}">Delete Notebook</a>
		  	{{pass}}
		  	{{else:}}
		  	<div>
		  	No Member added yet. Please <a href="{{=URL('addMember')}}"> add a member</a>
		  	</div>
		  	{{pass}}
		  	</div>
		</div>
	</div>
</div>