{{extend 'my_layout.html'}}
{{if response.flash:}}
{{=response.flash}}
{{pass}}
<center>
        <a href="{{=URL('addPage', args=memberId)}}"><button>Add Progress</button></a>
    </center>
{{if pages:}}
{{for page in pages:}}
<div style="text-align: center">
<h1>{{=page.week}}</h1>
<img width="200px"
	src="{{=URL('download', args=page.file)}}" />
</div>
<center>
<h4>Weight is {{=page.kilograms}}kg</h4>
<h4>Waist circumference is {{=page.centimetres}}cm</h4>

<h4><a href="{{=URL('deletePage', args=page.id)}}">Delete Progress</a></h4>
<h4><a href="{{=URL('updatePage/' + str(page.id) + '/' + str(memberId))}}">Update</a></h4>
</center>
{{pass}}
{{else:}}
<div>No pages. Please <a href="{{=URL('addPage',args=memberId)}}">Add progress</div>
{{pass}}

