{{extend 'my_layout.html'}}
<h1  style="text-align:center">Update member</h1>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 form-div">
			<form action="" enctype="multipart/form-data" method="post">
			  	<div class="form-group">
			    	<label for="exampleInputFirstName">First Name</label>
			    	<input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name" name="firstname" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="exampleInputLastName">Last Name</label>
			    	<input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name" name="lastname" required>
			  	</div>
			  	<div class="form-group">
          			<label for="exampleInputLastName">Phone Number</label>
          			<input class="form-control" id="inputPhone" maxlength="10" name="phonenumber" placeholder="Phone Number" size="3" title="" type="tel" required>
        		</div>
        		<div class="form-group">
		          <label for="exampleInputGender">Gender</label>
		          <div>
		            <label class="radio-inline">
		              	<input type="radio" id="female" name="gender" value="Female" required>Female
		            </label>
		            <label class="radio-inline">
		              	<input type="radio" id="male" name="gender" value="Male">Male
		            </label>
		          </div>
		        </div>
			  	<input type="hidden" name="_formname" value="member_update">
			  	<input type="hidden" name="id" value="{{=member.id}}">
			  	<div>
			  		<input type="submit" class="btn btn-primary" value="Update Member">
			  	</div>
			</form>
		</div>
	</div>
</div>