<!DOCTYPE html>
<html>
<head>
	<title>ACCRA GYM</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/style.css')}}">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-default navbar-fixed-top">
			  	<div class="container-fluid">
			    	<!-- Brand and toggle get grouped for better mobile display -->
			    	<div class="navbar-header">
			      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        	<span class="sr-only">Toggle navigation</span>
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span>
			      	</button>
			      	<a class="navbar-brand" href="#"><img src="{{=URL('static', 'images/gym2.jpg')}}"></a>
			      	<span class="name pull-left"><h1 class="lead">ACCRA GYM</h1></span>
			    	</div>

			    	<!-- Collect the nav links, forms, and other content for toggling -->
			    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      	<ul class="nav navbar-nav navbar-right">
			        	<li><a href="{{=URL('home.html')}}">Home<span class="sr-only">(current)</span></a></li>
			        	<li><a href="{{=URL('about.html')}}">About</a></li>
			        	<li><a href="{{=URL('contact.html')}}">Contact Us</a></li>
			        	<li><a href="{{=URL('membership.html')}}">Membership</a></li>
			      	</ul>
			      	
			    	</div><!-- /.navbar-collapse -->
			  	</div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>
	{{include}}
	<div class="container-fluid">
		<div class="row">
			<div class="footer">
		  © 2018 ACCRA GYM
			</div>
		</div>
	</div>

	<script src="{{=URL('static','js/jquery.js')}}"></script>	
	<script src="{{=URL('static','js/bootstrap.js')}}"></script>
</body>
</html>