.carousel-inner > .item > img {
  width:1520px;
  height:570px;
  margin: auto;
}




.navbar-brand > img {
    height: 35px;
    width: 70px;
}

.form-div {
	margin-top: 20px;
	border: 1px solid #333;
	border-color: black;
	padding: 20px;
}

.panel-div {
	margin-top: 50px;
}

.link {
	background-color: red;
}